apiVersion: oauth.openshift.io/v1
kind: OAuthClient
grantMethod: auto
metadata:
  name: litemaas-oauth-client
secret: ${OAUTH_CLIENT_SECRET}
redirectURIs:
  - 'https://litemaas-${NAMESPACE}.${CLUSTER_DOMAIN_NAME}/api/auth/callback'

